
.App{
    font-family: 'Oswald', sans-serif;
    overflow: auto;
    background-color: #A8DADC;
    height: 100vh;
}
.Grid{
    width: 55%;
    margin: 0 auto;
}

#title{
    margin-top: 5%;
    font-size: 2.1em;
    display: block;  
    font-weight: bold;
    color: #1D3557;
}
.Items{
    border: 1px solid black;
    width: 100%;
}